@import "tailwindcss";

@theme {
  --color-background: #ebebeb;
  --color-background-secondary: #000000;
  --color-foreground: #000000;
  --color-foreground-secondary: #ffffff;
  --color-accent: #c7ba45;
  --color-primary: #ebeae6;

  --font-primary: "Poppins", sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

