@import "tailwindcss";

@theme {
  --color-background: #ebebeb;
  --color-background-secondary: #101010;
  --color-foreground: #101010;
  --color-foreground-secondary: #ebebeb;

  --font-primary: "Poppins", sans-serif;
}

html,
body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  height: 100%;
}

/* Hide default cursor */
* {
  cursor: none !important;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* Mobile adjustments */
@media (max-width: 900px) {
  .menu-img {
    display: none;
  }
}
